/* Partial Effeckt.css file
https://github.com/h5bp/Effeckt.css */

.effeckt-caption {
  position: relative;
  overflow: hidden;
}

.effeckt-caption img {
  -webkit-transition: 500ms;
  -o-transition: 500ms;
  transition: 500ms;
}

.effeckt-caption figcaption {
  position: absolute;
  -webkit-transition: 500ms;
  -o-transition: 500ms;
  transition: 500ms;
  width: 100%;
}

.effeckt-caption[data-effeckt-type="quarter-appear"] figcaption {
  bottom: 0;
  left: 0;
  opacity: 0;
}

.effeckt-caption[data-effeckt-type="quarter-appear"]:hover figcaption,
.effeckt-caption[data-effeckt-type="quarter-appear"]:active figcaption,
.effeckt-caption[data-effeckt-type="quarter-appear"].active figcaption {
  opacity: 1;
}

.effeckt-caption[data-effeckt-type="quarter-slide-up"] figcaption {
  bottom: 0;
  left: 0;
  opacity: 0;
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%);
}

.effeckt-caption[data-effeckt-type="quarter-slide-up"]:hover figcaption,
.effeckt-caption[data-effeckt-type="quarter-slide-up"]:active figcaption,
.effeckt-caption[data-effeckt-type="quarter-slide-up"].active figcaption {
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

/* Yuri's Custom CSS */
.effeckt-caption figcaption {
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 1rem;
}
