@font-face{
	font-family: "Cabin";
	src: url('../fonts/Cabin-Regular.ttf');
    src: local("Cabin"), url('../fonts/Cabin-Regular.ttf');
}

@font-face{
	font-family: "AlteHaasRegular";
	src: url('../fonts/AlteHaasGroteskRegular.ttf');
    src: local("AlteHaasRegular"), url('../fonts/AlteHaasGroteskRegular.ttf');
}

@font-face{
	font-family: "AlteHaasBold";
	src: url('../fonts/AlteHaasGroteskBold.ttf');
    src: local("AlteHaasBold"), url('../fonts/AlteHaasGroteskBold.ttf');
}

@font-face{
  font-family: "Tuffy";
  src: url('../fonts/Tuffy.ttf');
  src: local("Tuffy"), url('../fonts/Tuffy.ttf');
}

@font-face{
  font-family: "Tuffy-bold";
  src: url('../fonts/Tuffy-B.ttf');
  src: local("Tuffy-bold"), url('../fonts/Tuffy-B.ttf');
}

@font-face{
  font-family: "Quicksand";
  src: url('../fonts/Quicksand-Regular.ttf');
  src: local("Quicksand"), url('../fonts/Quicksand-Regular.ttf');
}

@font-face{
  font-family: "Quicksand-bold";
  src: url('../fonts/Quicksand-Bold.ttf');
  src: local("Quicksand-bold"), url('../fonts/Quicksand-Bold.ttf');
}

@font-face{
  font-family: "Corbert";
  src: url('../fonts/Corbert-Regular.ttf');
  src: local("Corbert"), url('../fonts/Corbert-Regular.ttf');
}

@main-color: #0F98FA;

@navbar-color: #0F98FA;
@navbar-font-color: #ffffff;

@bg1-color: #ffffff;
@bg1-font-color: #626c72;
@bg1-font2-color: #a5b2b9;

@bg2-color: #a5b2b9;
@bg2-font-color: #ffffff;

@bg3-color: #31363A;
@bg3-font-color: #a5b2b9;
@grid-columns: 10;


@media screen and (min-width: 300px)
{
  body {
    font-size: 30px;
  }
}

@media screen and (min-width: 600px)
{
  body {
    font-size: 35px;
  }
}

@media screen and (min-width: 1000px)
{
  body {
    font-size: 40px;
  }
}

@media screen and (min-width: 1440px)
{
  body {
    font-size: 50px;
  }
}

#home
{
	display:block;
	position: relative;
    padding-top: 10%;
    padding-bottom: 10%;
    h1 {
     font-size: 200%;
      font-family: "Tuffy-bold";
    }
    small {
      display: block;
      position: relative;
      right: 0;
      font-size: 30%;
      font-family: "Tuffy";
    }
}

#home h1
{
	color: @main-color;
    display: block;
    width:80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

html, body
{
	margin: 0;
    padding: 0;
    height: 100%;
    //font: 15px "Tuffy";
}
#shadow-div
{
	width: 100%;
	height: 100%;
	//box-shadow: 0px 1px 10px #000000 inset;
	position: absolute;
}

.menubar
{
    font-size: 15px;
	margin-bottom: 0px;
	background-color: @navbar-color;
	border-color: #000000;
    border-width: 0px;
    font-family: Open Sans,Source Sans Pro,Helvetica,Arial,sans-serif;;
    -webkit-font-smoothing: antialiased;
  a {
    color: @navbar-font-color !important;
  }

  li:hover {
    background-color: #39b3d7;
  }

  li.active {
    a {
      color: @main-color !important;
      background-color: #ffffff !important;
      //background-color: #2aabd2 !important;
    }
  }
}

.social-networks {
  background-color: @main-color;
  vertical-align: middle;
  text-align: center;
  display: table;
  width: 100%;
  .social-icon {
    fill: white;
    display: table-cell;
    svg {
      margin-top: 5%;
      cursor: pointer;
    }

    svg:hover {
      fill: #D9D9D9;

    }

  }
}

#comment {
  resize: vertical;
}

#comment, #email, #name {
  margin: 2%;
}

#contact-bt {
  margin: 2%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 20%;
  border-radius: 0px;
  float: right;
  background-color: @main-color;
}

.scroll-adjust{
  padding-top:40px;
  margin-top:-40px;
}

.container-header {
  display: inline;
}



#projects
{
  height: auto !important; /* ie6 ignores !important, so this will be overridden below */
  min-height: 100%; /* ie6 ignores min-height completely */
  //height: 100%;
  padding-top: 5%;
  padding-bottom: 5%;
  background: url("../img/project-bg.png") 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  color: @bg1-color;
  display: none;
  .container-header {
    margin-bottom: 3%;
    display: block;
  }

  .thumbnail {
    background-color: rgba(255, 255, 255, 0.7);
    margin-top: 5%;
    img {
    padding: 3%;
      width: 100%;
    }

    h3 {
      text-align: center;
      font: 50px "Tuffy-bold";
      color: #0B7ED1;
      margin-top: 0;
    }
    p {
      font: 20px "Quicksand-bold";
    }

  }
}

#skills
{
  height: auto !important; /* ie6 ignores !important, so this will be overridden below */
  min-height: 100%; /* ie6 ignores min-height completely */
  height: 100%;
  background-color: @bg1-color;
  display: table;

  .skills {
    text-align: center;
  }
  .skills-badges {
    font-size: 45%;
  }
  h1 {
    margin-bottom: 3%;
  }
}

.progress-bar-success {
  background-color: @main-color;
}

#about
{
	margin-top: 0px;
    background-color: @bg1-color;
	height: auto !important; /* ie6 ignores !important, so this will be overridden below */
    min-height: 50%; /* ie6 ignores min-height completely */
    height: 100%;
	display: table;
    font-family: "Tuffy";
    p {
    }
}

#phrase
{
  background-color: @bg3-color;
  color: @bg3-font-color;
  text-align: center;
  padding-top: 13%;
  padding-bottom: 13%;
  font-family: "Tuffy";

  blockquote {
    border: 0px;
    margin-left:auto;
    margin-right:auto;
    width:100%;
    display: inline;
  }

  .big-text {
    font-size: 80%;
    display: inline-block;
  }
  small.big-text {
    display: block;
    margin-right: 8%;
    text-align: right;
    font-size: 60%;
  }
}

#contact
{
	margin-top: 0px;
    background-image: url("../img/bg-repeat2.png");
	height: auto !important; /* ie6 ignores !important, so this will be overridden below */
    min-height: 50%; /* ie6 ignores min-height completely */
    height: 100%;
	display: table;
	color: @bg2-font-color !important;
    box-shadow: 0px 1px 10px #000000 inset;
	border: solid #000000 1px;

    font-family: Helvetica;
  h4 {
    font-size: 45%;
    font-family: Helvetica;
    color: darkgray;
  }
  address {
    font-size: 35%;
    color: #898989;
  }
  a:hover {
    color: #808080 !important;
  }
}

.section {
  width: 100%;
}

.content.small {
  max-width: 1024px;

}

.content
{
	padding: 5%;
    width: 100%;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;

  h1
  {
    margin-left: 3%;
    display: block;
    font-family: "Tuffy-bold";
    font-size: 150%;
  }

  h2 {
    margin-left: 1%;
    display: inline-block;
    color: inherit;
  }

  p {
    font-size: 55%;
    text-align: justify;
  }
}

#timeline
{
	background-color: @bg1-color;

	margin-top: 0px;
	height: auto !important; /* ie6 ignores !important, so this will be overridden below */
    min-height: 100%; /* ie6 ignores min-height completely */
    height: 100%;
	//display: table;

  .line {
    background: url('/static/img/bg-timeline.png') center repeat-y;
    width: 970px;
    list-style: none;
    overflow: hidden;
    margin: 0 auto;
    padding: 0px;
    font-size: 70%;

    li {
      position: relative;
    }
  }

  .year {
    clear: both;
    span {
      border: 1px solid #0f98fa;
      padding: 6px 12px;
      background-color: #ffffff;
      -moz-border-radius: 2px;
      -webkit-border-radius: 2px;
      display: inline-block;
    }
    background-color: transparent;
    text-align: center;
    float: none;
    width: 100%;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
  }
  .year.middle {
    margin-top: 10%;
  }

  .event {
    text-align: center;
    h3 {
      font-size: 70%;
      margin: 0px;
    }
    h4 {
      margin: 0px;
      font-size: 60%;
    }
    span {
      font-size: 55%;
    }
    p {
      text-align: justify;
    }

    .event-img {
      width: 100%;
      min-height: 250px;
      display: table;
      border: 0;
      div {
        vertical-align: middle;
      }
      img {
        width: 100%;
        vertical-align: middle;
      }
    }

    width: 43%;
    border: 1px solid #0f98fa;
    padding: 12px;

    margin: 100px 0 0;

  }

  .event.right {
    float: right;
    margin-top: 0;
  }

  .event:after {
    content: ' ';
    display: block;
    height: 1px;
    position: absolute;
    right: -70px;
    top: 60px;
    width: 70px;
    background-color: @main-color;
  }
  .event.right:after {
    left: -70px;
  }

}

.center {
	margin: auto;
	text-align:center;
}

figure {
	display: inline-block;

	figcaption {
		text-align: justify;
	}
}

#presentations {
	background: #F5F5F5;
	h1 {
		margin-bottom: 30px;
	}
	img {
		width: 100%;
		height: 100%;
	}
}

#map-canvas {
  width: 100%;
  min-height: 250px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
